<a href="https://colab.research.google.com/github/PrashantAghara/astronomical-data-analysis/blob/master/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Basics

### f - Strings

In [4]:
planet_name = "Saturn"
num_of_moons = 146

print(f"{planet_name} has {num_of_moons} Moons")

Saturn has 146 Moons

In [6]:
str_1 = "Earth is the only planet with Life."
str_2 = "Maybe not!"

print(f"{str_1} {str_2}")

Earth is the only planet with Life. Maybe not!

#### User Inputs

In [9]:
user_name = input("Enter your name : ")

Enter your name : Prashant

In [11]:
print(user_name)
print(type(user_name))

Prashant
<class 'str'>

In [14]:
fav_num = int(input("Enter your fav number : "))

Enter your fav number : 2

In [15]:
print(type(fav_num))

<class 'int'>

In [16]:
num_1 = int(input("Enter Num 1 : "))
num_2 = int(input("Enter Num 2 : "))

print(f"Addition of Num 1 & Num 2 is : {num_1 + num_2}")

Enter Num 1 : 1
Enter Num 2 : 3
Addition of Num 1 & Num 2 is : 4

#### Control Flow

In [20]:
for idx in [range(5), range(10)]:
  for i in idx:
    print(i)
  print(idx)

0
1
2
3
4
range(0, 5)
0
1
2
3
4
5
6
7
8
9
range(0, 10)

In [21]:
for index in range(1, 10):
  print(index)

1
2
3
4
5
6
7
8
9

In [22]:
for index in range(1, 10, 2):
  print(index)

1
3
5
7
9

In [24]:
i = 0

while i < 10:
  i += 1
  print(i)

1
2
3
4
5
6
7
8
9
10

#### Functions

In [25]:
def f(x):
  print(x)

f(2)

2

In [29]:
def greet(name, msg):
  print(f'Hey {name}, {msg}')

# Positional Args
greet("Prashant", "How are you ?")

Hey Prashant, How are you ?

In [30]:
# Keyword Args
greet(msg = "How are you ?", name = "Prashant")

Hey Prashant, How are you ?

In [31]:
# Default Args
def greet(name, msg = "Welcome to the team!"):
  print(f'Hey {name}, {msg}')

In [32]:
greet("Prashant")

Hey Prashant, Welcome to the team!

In [34]:
# greet(msg="How are you ?", "Prashant") # ERROR

In [36]:
def basic_calc(num_1, num_2, operation):
  if operation == 'ADD':
    return num_1 + num_2
  elif operation == 'SUB':
    return num_1 - num_2
  elif operation == 'MULTIPLY':
    return num_1 * num_2
  elif operation == 'DIVIDE':
    if num_2 == 0:
      return "ERROR"
    else:
      return num_1 / num_2
  else:
    return "Invalid Operation"

In [38]:
print(basic_calc(1, 1, "ADD"))
print(basic_calc(1, 1, "DIVIDE"))
print(basic_calc(1, 2, "SUB"))
print(basic_calc(1, 3, 'DIVIDE'))
print(basic_calc(1, 1, "POW"))

2
1.0
-1
0.3333333333333333
Invalid Operation